# template slack.conf file for testing
# $Id$
SOURCE=__TEST_DIR__/testsource
ROLE_LIST=__TEST_DIR__/roles.conf
CACHE=__TEST_TMPDIR__/cache
STAGE=__TEST_TMPDIR__/stage
ROOT=__TEST_TMPDIR__/root
BACKUP_DIR=__TEST_TMPDIR__/backups
